<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHEETS API NODE JS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark" style="justify-content: center; background-color: #245e88">
        <a class="navbar-brand"  href="#">Перейти на головну сторінку</a>
    </nav>
    <br />
    <div class="container">
        <div class="card">
            <% if (isSuccess) { %>
                <h6><%= message %></h6>
            <% } %>
            <% if (!isSuccess) { %>
                <h6 style="color: red"><%= message %></h6>
            <% } %>
        </div>
        <a href="/">Вернуться назад</a>
    </div>
</body>
</html>